<!DOCTYPE html>
<html>
<head>
	<title>QR scanner</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script type="text/javascript">
        function f1(){
            let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
            scanner.addListener('scan', function (content) {
              //alert(content);
	      var crypto = <%=crypto%>;
	      var mykey = crypto.createDecipher('aes-128-cbc', 'mypassword');
	      var decryptedID = mykey.update(content, 'hex', 'utf8')
	      decryptedID += mykey.final('utf8');
              let s1=Number(decryptedID);
              console.log("vidhu"+s1);
              if(isNaN(s1))
              {
               document.write("not valid");
              }
             else
             {
               let batch_year=Math.trunc(s1/100000);
               let batch_id=Math.trunc(s1/1000)%100;
               let stu_id=Math.trunc(s1%1000);
               alert(batch_year);
               alert(batch_id);
               alert(stu_id);
              
              var x=Date.now();
              var dat_obj=new Date(x);
              var year=dat_obj.getFullYear();
              alert("final"+year);
             if(batch_id==01)
             {
               if(batch_year<=year && batch_year>=year-4)
               {
                window.location.href="/lib_tmp/"+decryptedID;
               }
               else{
                 document.write("invalid");
               }
             }
             else if(batch_id==11 || batch_id==12)
             {
                if(batch_year<=year && batch_year>=year-2)
                {
                  window.location.href="/lib_tmp/"+decryptedID;
                }
                else
                {
                  document.write("invalid");
                }
             }
             else{
               document.write("invalid");
             } 

             }
            });
            Instascan.Camera.getCameras().then(function (cameras) {
              if (cameras.length > 0) {
                scanner.start(cameras[0]);
              } else {
                console.error('No cameras found.');
              }
            }).catch(function (e) {
              console.error(e);
            });
        }
        function f2()
        {
          window.location.href="/lib_tmp_out/";
        }
    </script>
    
     
</head>
<body>  
    <button id="btn" onclick= "f1()"> Scan QR </button>  
    <button onclick="f2()"> out time </button>  
    <br/>
    <video id="preview"></video>
    
</body>
</html>
