<html>
    <head>


    </head>
    <body>
        <form method="POST" action="/equipment/">
        <input type="text" placeholder="equipment id" name="equipment_id">
        <input type="text" placeholder="student id" name="student_id">
        <input type="text" placeholder="issue_date" name="issue_date">
        <input type="text" placeholder="return date" name="return_date">
        <input type="number" placeholder="loan" name="loan">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>