<html>
    <body>
        <a href="/equipment/">Display Equipment</a><br>
        <a href="/libcount">Lib seats count</a><br>
        <a href="/lib_tmp_add">for lib scanning qr code</a><br>
        <a href="/qr_code">For Genearting  qr code</a>
    </body>
</html>